# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# other
eclipse
run
run-data
lib/


# Files from Forge MDK
forge*changelog.txt
/src/generated/resources/.cache/
/runs/junit/junit_jvm_args.txt
/runs/junit/junit_test_args.txt
/runs/

# fabric port
/libs/
/run/
